<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="params" label="Params"
		description="These settings apply for activity gallery">

		<!-- <field name="gallery_type" type="list" default="pgwSlideshow" label="Type" 
			description=""> <option value="pgwSlideshow">Horizontal</option> <option 
			value="pgwSlider">Vertical</option> </field> -->
		<field name="talent_list_url" type="text" label="Talent List URL"
			description=""
			default="index.php?option=com_talent&amp;view=talents&amp;layout=modal&amp;tmpl=component" />

		<field name="talent_detail_url" type="text" label="Talent Detail URL"
			description="" default="index.php?option=com_talent&amp;view=talent&amp;" />

		<field name="itemId" type="menuitem" label="Menu for display talent"
			description="">
			<option value="">Please select menu</option>
		</field>

		<field name="gallery_height" type="text" label="Height"
			description="" default="360" />

		<!-- <field name="gallery_duration" type="text" label="Duration" description="" 
			default="3000" /> -->
	</fieldset>
</config>